<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding>

    <ion-row>
      <ion-col text-center>
        <img src="assets/imgs/taghere.png" height="200px"/>
        <h1>Fiscais de Urna</h1>
      </ion-col>
    </ion-row>

  <!--<ion-item>
    <ion-input type="text" placeholder="Nome" [(ngModel)]="nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="Telefone" [brmasker]="{mask:'(00)00000-0000', len:14}" [(ngModel)]="telefone"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" placeholder="Insira o Código de Ativação" [(ngModel)]="codigo"></ion-input>
  </ion-item>-->

  <button ion-button block  round (click)="fiscalPublicoModal('publico')">Público Geral</button>
  <button ion-button block  round (click)="fiscalPublicoModal('fiscal')">Fiscal Coligação</button>





</ion-content>
