<!--
  Generated template for the LocalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="blue">
    <ion-title>Envio de localização</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >

  <p style="color: white">A TagHere colherá sua localização para saber se você está no local de
    votação fiscalizando. Esse dado é importante para a equipe de coordenação de sua coligação saber
    os locais que precisam de mais fiscais. Mas se você não deseja compartilhar esse dado, basta clicar
    no botão Não Enviar Minha Localização. Mas saiba que caso marque essa opção sua
    participação será marcada como “não comparecimento” ao local de votação no relatório da Coligação.</p>

  <ion-row *ngIf="ativo != 1">
    <ion-col>
      <button ion-button color="secondary" full round (click)="startLocation()">
        <ion-icon name="pin"></ion-icon>
         Já estou no local de votação</button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="ativo == 1">
    <ion-col>
      <button ion-button color="danger" full round (click)="stopLocation()">
        <ion-icon name="pin"></ion-icon>
         Parar de enviar minha localização</button>
    </ion-col>
  </ion-row>

</ion-content>
