<!--
  Generated template for the SelecionaLocalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="blue">
    <ion-title>Local de Votação</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
  <p  class="white">Escolha um local de votação mais conveniente para você fiscalizar:</p>
  <ion-item>
    <select-searchable
      [(ngModel)]="city"
      [items]="cities"
      itemValueField="id"
      itemTextField="name"
      [canSearch]="true"
      (onChange)="cityChange($event)">
      <ng-template selectSearchableLabelTemplate>
        Cidade
      </ng-template>
    </select-searchable>
  </ion-item>
  <div *ngIf="step == 1">
    <button ion-button block  round (click)="selecionaTipo('zona')" >Sei o Número da Seção</button>
    <button ion-button block  round (click)="selecionaTipo('cidade')" >Buscar por Local de Votação</button>
  </div>

  <div *ngIf="search == 'zona' ">
    <ion-item>
      <ion-label fixed>Zona</ion-label>
      <ion-input type="number" text-right value="" [(ngModel)]="zona"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Seção</ion-label>
      <ion-input type="number" text-right value="" [(ngModel)]="secao"></ion-input>
    </ion-item>

    <button ion-button block color="secondary"  round (click)="selectPlaceZona()" *ngIf="secao !=  null && zona != null ">Selecionar Local</button>
    <button ion-button block color="danger"  round (click)="voltar()" >Voltar</button>
  </div>

  <div *ngIf="search == 'cidade' ">
    <ion-item>
      <select-searchable
        [(ngModel)]="place"
        [items]="places"
        itemValueField="id"
        itemTextField="name"
        [canSearch]="true"
        (onChange)="placeChange($event)">
        <ng-template selectSearchableLabelTemplate>
          Local de Votação
        </ng-template>
      </select-searchable>
    </ion-item>
    <button ion-button block  round (click)="selectPlace()" *ngIf="selected">Selecionar Local</button>
    <button ion-button block color="danger" round (click)="voltar()">Cancelar</button>

  </div>
</ion-content>
