<!--
  Generated template for the NotificaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="blue">
    <ion-title>Notificação</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="permitido == true">
    <ion-item>
      <ion-label floating>Mensagem</ion-label>
      <ion-input type="text" [(ngModel)]="mensagem"></ion-input>
    </ion-item>
    <img [src]="base64Image" *ngIf="base64Image" />
    <button ion-button block (click)="takePicture()" icon-left><ion-icon name="camera"></ion-icon>Câmera</button>
    <button ion-button block (click)="enviar()" color="secondary" icon-left><ion-icon name="send"></ion-icon>Enviar</button>
  </div>
  <div *ngIf="permitido == false">
    Você não tem permissão para enviar Incidentes. Solicite autorização para os administradores ou verifique sua conexão com a internet!
  </div>

</ion-content>
