<!--
  Generated template for the FiscalPublicoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="blue">
    <ion-buttons left><button ion-button icon-only (click)="viewCtrl.dismiss()" class="my-style-for-modal"> <ion-icon name="arrow-back"></ion-icon> </button> </ion-buttons>
    <ion-title>Cadastro de Fiscal</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="step == 1">
  <ion-item>
    <ion-input type="text" placeholder="Nome" [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="Telefone" [brmasker]="{mask:'(00)00000-0000', len:14}" [(ngModel)]="phone"></ion-input>
  </ion-item>

  <ion-item *ngIf="tipo == 'publico' ">
    <ion-input type="email" placeholder="E-mail" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-list *ngIf="tipo != 'publico' ">
    <ion-item>
      <ion-label>Coligação</ion-label>
      <ion-select [(ngModel)]="partner">
        <ion-option *ngFor="let item of partners" value="{{item.id}}">{{item.name}}</ion-option>

      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label>Li e Aceito os Termos de Uso</ion-label>
    <ion-checkbox color="dark" checked="true" [(ngModel)]="termos"></ion-checkbox>
  </ion-item>

  <button ion-button block  id="sign-in-button" round (click)="sendSMS()" *ngIf="termos">Cadastrar</button>

  <div id="recaptcha-container"></div>
  <p style="color: #fff;" (click)="openTermos()"  *ngIf="!termos">
    Ler Termos e Condições
  </p>
</ion-content>
<ion-content padding *ngIf="step == 2">
  <h2>Código Enviado - SMS</h2>
  <ion-item>
    <ion-label floating>Código Enviado ao Celular</ion-label>
    <ion-input type="number" [(ngModel)]="code"></ion-input>
  </ion-item>
  <button ion-button blockround (click)="validCode()">Confirmar</button>
  <button ion-button blockround (click)="backStep()" color="red">Não Chegou SMS</button>

</ion-content>
