<!--
  Generated template for the ScanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="blue">
    <ion-buttons end>
      <button ion-button icon-only (click)="goToHome()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Escanear Boletim</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
  <ion-grid text-center>
    <ion-row>
      <ion-col text-center class="white">
        <img src="assets/imgs/qrsquare.svg" alt="" width="80%">
        <p>
          Aponte a Câmera para o Código Número {{atual}} no Boletim de Urna
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
