<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <img src="assets/imgs/taghere.png" height="200px"/>
        <h1 *ngIf="tipo != 'fiscal' ">Fiscais de Urna</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button full round (click)="scan()" >Ler Boletim</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button full round (click)="goToHome()" >Boletins Lidos</button>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <button ion-button full round (click)="apuracao()" *ngIf="plataforma == true">Apuração</button>
        <button ion-button full round (click)="openios()" *ngIf="plataforma == false">Apuração</button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="tipo == 'fiscal' ">
      <ion-col>
        <button ion-button full round (click)="goToNotifica()">Notificar Incidentes</button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="tipo == 'fiscal' && plataforma == true ">
      <ion-col>
        <button ion-button full round (click)="goToLocal()">Envio de localização</button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="tipo != 'fiscal' ">
      <ion-col>
        <button ion-button full round (click)="goToTickets()">Meus Cupons</button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="tipo == 'fiscal' ">
      <ion-col>
        <button ion-button full round (click)="goToTutorial()">Tire suas Dúvidas</button>
      </ion-col>
    </ion-row>


    #{{codigo}}
  </ion-grid>
</ion-content>
