<ion-header>
  <ion-navbar color="blue">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Boletins</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngFor="let item of boletins " (click)="visualizarBoletim(item.id)" >
    <ion-card>
      <ion-item>
        <ion-icon name="md-archive" item-start large></ion-icon>
        <h2>Boletim de Urna</h2>
        <p>Urna: {{item.urna}}</p>
      </ion-item>
      <img src="assets/imgs/urna.jpeg" alt="Boletim de Urna">
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>{{item.lidos}} Lidos</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div>{{item.total_qr}} Total</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <ion-note>
            Status
            <ion-icon name="checkmark-circle-outline" *ngIf="item.lidos == item.total_qr"></ion-icon>
            <ion-icon name="alert" *ngIf="item.lidos != item.total_qr"></ion-icon>
          </ion-note>
        </ion-col>
      </ion-row>

    </ion-card>
  </div>

  <ion-fab right bottom>
    <button ion-fab color="blue"><ion-icon name="add" ></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab  (click)="scan()" ><ion-icon name="qr-scanner"></ion-icon></button>
      <button ion-fab (click)="enviar()"><ion-icon name="send"></ion-icon></button>

    </ion-fab-list>
  </ion-fab>

</ion-content>
