<!--
  Generated template for the TutorialPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="blue">
    <ion-title>Tire suas Dúvidas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col>
      <button ion-button full round (click)="openPdf('comoler.pdf')" >Como Ler um Boletim
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button ion-button full round (click)="openPdf('comonoti.pdf')" >Como enviar uma Notificação
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button ion-button full round (click)="manual()" >Manual do Fiscal de Urna
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button ion-button full round (click)="video()" >Video Tutorial
      </button>
    </ion-col>
  </ion-row>
</ion-content>



