<!--
  Generated template for the ApuracaoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="blue">
    <ion-title>Apuração</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <div *ngIf="plataforma == true" >

  <iframe [src]="url_service"  width="100%" height="100%" style="position: fixed;" frameborder="0"></iframe>

  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <h2 style="text-align: center">
    Carregando...
  </h2>
  </div>
  <button ion-button color="secondary" *ngIf="plataforma == false" full round (click)="openios()">Acompanhe a apuração</button>
</ion-content>
