page-apuracao {
  ion-content {
    background: linear-gradient(45deg, #00AEFF 50%, #3369E6 100%) !important;
    h1 {
      color: #fff;
    }
  }
  .white{
    color: #ffffff !important;
  }
  ion-grid {
    height: 100%;
    justify-content: center;
  }
}
