<!--
  Generated template for the BoletimPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="blue">
    <ion-title>Boletim de Urna</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >


  <div *ngFor="let item of boletim " >
    <button ion-button color="secondary" round block (click)="scan(item)" *ngIf="item.lidos != item.total_qr" icon-left><ion-icon name="camera"></ion-icon>LER QR {{item.lidos +1}} de {{item.total_qr}}</button>
    <ion-card>



      <ion-card-content>
        <!-- Add card content here! -->

    <ion-row>
      <ion-col>Urna</ion-col>
      <ion-col>QTD QR</ion-col>
      <ion-col>QR LIDOS</ion-col>

    </ion-row>
    <ion-row>
      <ion-col>{{item.urna}}</ion-col>
      <ion-col>{{item.total_qr}}</ion-col>
      <ion-col>{{item.lidos}}</ion-col>
    </ion-row>
    <ion-row *ngIf="visualizar">
      <ion-col>{{item.dados}}</ion-col>

    </ion-row>
    <button ion-button round block (click)="ocultar()" icon-left><label *ngIf="!visualizar">Visuzalizar Dados</label><label *ngIf="visualizar">Ocultar Dados</label></button>
      </ion-card-content>
      <ion-row *ngIf="item.lidos == item.total_qr">
        <ion-col>
          <ion-badge color="secondary">LEITURA CONCLUÍDA</ion-badge>

        </ion-col>
      </ion-row>
    </ion-card>
    <hr>
    <button ion-button round block (click)="scanMore()" icon-left *ngIf="item.lidos == item.total_qr"> Ler Outro Boletim</button>
  </div>



</ion-content>
